<!-- EJERCICIO 4 -> ROUTING a) Agreguemos al ruteo una regla que con el path "people" 
                             resuelva este componente. Verificar que este componente esta
                            siendo EXPORTADO por el modulo.
                            b) Agreguemos tambien una regla de ruteo para el inicio de la aplicacion y
                            una wildcard para que nos lleve a la pagina "Welcome" en ambos casos.
                            c) Arreglemos el menu para que funcione el link de personas. El mismo se encuentra 
                            en el app.componente
                -->
<!-- EJERCICIO 5 -> CLASES TS Definir una clase "Person", que contenga los datos que mapeen el resultado de la API.
                     http://personasapi.azurewebsites.net/api/personas/ 
                    Utilizar el archivo people/person.ts. Recordar la sintaxis de TS.
                nombreVariable: tipoDato -->
<!-- EJERCICIO 6 -> INYECCION DE DEPENDENCIAS a) Debemos inyectar el servicio people.service.
                   ¿En que lugar debemos hacerlo? 
                   b) ¿Funciona la página de personas? ¿Que mas nos falta? Analicemos el componente.
                        Si lograste visualizar la lista de personas, lo lograste!!
                   c) Tratemos de arreglar el filtro de personas. ¿Como? Observemos en el template
                        de que forma se estan listando las personas. ¿A que función se invoca cuando tipeamos en el mismo?
                        Si el filtro, acota los resultados mostrados, sigue avanzando con los ejercicios. -->
<!-- EJERCICIO 7 -> NESTED COMPONENTES a) Generar un componente que nos permita mejorar la forma en que 
                    estamos mostrando el humor. Usemos EMOJIS :). Manos a la Obra. 
                    Abri el archivo Shared/person-mood.component y segui las instrucciones -->
<div style="max-width:200px">
    <input type="text" class="form-control" placeholder="Filtro" [(ngModel)]="filter" (ngModelChange)="performFilter()" />
</div>
<div class='table-responsive'>
    <table class='table' *ngIf='filteredPeople && filteredPeople.length'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Edad</th>
                <th>Humor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of filteredPeople">
                <td>{{ person.ID}}</td>
                <td>{{ person.Nombre }}</td>
                <td>{{ person.Direccion}}</td>
                <td>{{ person.Edad}}</td>
                <td>{{ person.Humor }}</td>
            </tr>
        </tbody>
    </table>
</div>





