<!-- EJERCICIO 4 -> ROUTING Agreguemos al ruteo una regla que con el path "person/list" 
                             resuelva este componente. Verificar que este componente esta
                            siendo EXPORTADO por el modulo.
                            Agreguemos tambien una regla de ruteo para el inicio de la aplicacion y
                            una wildcard para que nos lleve al Welcome en ambos casos.
                -->
<!-- EJERCICIO 5 -> CLASES TS Definir una interfaz "Person", que contenga los datos que mapeen el resultado de la API.
                     http://personasapi.azurewebsites.net/api/personas/ -->
<!-- EJERCICIO 6 -> INYECCION DE DEPENDENCIAS Debemos inyectar el servicio person.service.
                   ¿En que lugar debemos hacerlo? ¿Funciona? ¿Nos falta algo mas?
                Tratemos de arreglar el filtro de personas. ¿A que función se invoca cuando tipeamos en el mismo?-->
<!-- EJERCICIO 7 -> NESTED COMPONENTES Generar un componente que nos permita mejorar la forma en que 
                    estamos mostrando el humor. Usemos EMOJIS :). Manos a la Obra. 
                    Abri el archivo Shared/person-mood.component y segui las instrucciones -->

<div class='panel panel-primary'>
    <div class='panel-heading'>
        Lista de Personas
    </div>

    <div class='panel-body'>
        <div style="max-width:200px">
            <input type="text" class="form-control" placeholder="Filtro" [(ngModel)]="filter" (ngModelChange)="performFilter()" />
        </div>
        <div class='table-responsive'>
            <table class='table' *ngIf='filteredPeople && filteredPeople.length'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Edad</th>
                        <th>Humor</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let person of filteredPeople">
                        <td>{{ person.ID}}</td>
                        <td>{{ person.Nombre }}</td>
                        <td>{{ person.Direccion}}</td>
                        <td>{{ person.Edad}}</td>
                        <td>
                            <pv-person-mood [moodLevel]="person.Humor" (getUrl)="notifyUrl($event)"></pv-person-mood>
                        </td>
                        <td>
                            <a [routerLink]="['./detail/',person.ID]" routerLinkActive="active">
                                <i class='glyphicon glyphicon-info-sign'></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class='panel-footer'>
        <button class="btn btn-success" [routerLink]="['./add/']" >Agregar</button>
    </div>
</div>






