<div>
  <!-- EJERCICIO 1 -> DATA BINDING (Interpolation) --> 
  <div>
      <!-- a) Mostrar la cantidad de Fans -->
      <span class="left">Fans:</span>
      <span></span>
  </div>
  <div>
      <!-- b) Mostrar el resultado de la funcion que nos devuelve los fans como string -->
      <span class="left">Funcion:</span>
      <span></span>
  </div>
  <div>
      <!-- c) Mostrar la suma de 5 y 9 -->
      <span class="left">Suma:</span>
      <span></span>
  </div>
  <!-- EJERCICIO 2 -> DATA BINDING (Property & Event) --> 
  <div>
      <span class="left">One Way Binding: </span>
    <!-- a) Mostrar con propertyBinding la cantidad de Fans en este INPUT -->
      <input disabled="disabled" />

    <!-- b) Agregar una funcion al componente que se encargue de agregar un fan mas. 
            Llamar a dicha funcion cada vez que se clickea el siguiente botón -->
    <button>Agrega Fan</button>

  </div>
  <div>
    <!-- c) Mostrar con TwoWayBinding la cantida de Fans en este INPUT. 
            ¿Que pasa si editamos su valor? -->   
    <span class="left">Two Way Binding: </span>
    <input />
  </div>
  <!-- EJERCICIO 3 -> PIPES -->
  <!-- a) Agregar un pipe a la Interpolation del ejercicio 1-b), para que el texto aparezca en mayúsculas -->
  <!-- b) Agregar un pipe al PropertyBinding del ejercicio 2-a), para que el número de fans aparezca con separador de mil -->

</div>  