<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Desayuno Angular</a>
    </div>
    <ul class="nav navbar-nav">
      <a class="menu" routerLink="/welcome" routerLinkActive="active">Inicio</a>
      <a class="menu" routerLink="/ejercicios" routerLinkActive="active">Ejercicios</a>
      <a class="menu" routerLink="/people" routerLinkActive="active">Personas</a>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>



