<!-- EJERCICIO 5 - INTERFAZ
Definir una interfaz "IPerson", que contenga los datos necesarios. -->
<div style="max-width:200px">
    <input type="text" class="form-control" placeholder="Filtro" [(ngModel)]="filter" (ngModelChange)="performFilter()" />
</div>
<div class='table-responsive'>
    <table class='table' *ngIf='filteredPeople && filteredPeople.length'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Edad</th>
                <th>Humor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of filteredPeople">
                <td>{{ person.ID}}</td>
                <td>{{ person.Nombre }}</td>
                <td>{{ person.Direccion}}</td>
                <td>{{ person.Edad}}</td>
                <td>
                    <pv-person-mood [moodLevel]="person.Humor"></pv-person-mood>
                </td>
            </tr>
        </tbody>
    </table>
</div>





