<!-- NESTED COMPONENTS
    Bienvenidos al ejercicio que les mejorará el HUMOR!
    Sigamos los siguientes pasos para conseguir esos Emojis!
    1) Modificar que el atributo moodLevel para sea de Input
    2) Llamar a este componenete desde la lista. Enviarle el valor del Humor con PropertyBinding.
        Probar si funciona!!
    3)Luego usemos la variable Output desde el componente padre.  ¿Como se hacía?
      Nos alcanza con mostrar su contenido en un alert. ¿Cuando cuando se lanza este evento? -->
<img alt="Humor de persona" [src]="imageUrl" (click)="onImageClick()" height="30px" width="30px"/>